/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3); /* Light gray */
    border-radius: 50%;
    border-top: 4px solid #000000; /* Black */
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
}

.suggestion-item:hover {
    background-color: #e0e0e0;
}

.suggestion-item.active {
    background-color: #d1d1d1;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


tbody tr:hover {
    opacity: 0.8;
}
.tooltip-text {
    visibility: hidden;
    position: absolute;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    margin-top: 10px;
    z-index: 1;
}



/**
tippy.js css
 */

/*
 *  Originally copied from dist/tippy.css in the tippy.js package.
 *
 *  Modifications were made to implement compatibility with
 *  Obsidian themes.
 */

.theme-light {
  --link-tooltip-background: #333;
  --link-tooltip-text: #fff;
}

.theme-dark {
  --link-tooltip-background: #ccc;
  --link-tooltip-text: #000;
}

.tippy-box[data-animation="fade"][data-state="hidden"] {
  opacity: 0;
}

[data-tippy-root] {
  max-width: calc(100vw - 10px);
}

.tippy-box {
  position: relative;
  background-color: var(--link-tooltip-background);
  color: var(--link-tooltip-text);
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.4;
  outline: 0;
  transition-property: transform, visibility, opacity;
}

.tippy-box[data-placement^="top"] > .tippy-arrow {
  bottom: 0;
}

.tippy-box[data-placement^="top"] > .tippy-arrow:before {
  bottom: -7px;
  left: 0;
  border-width: 8px 8px 0;
  border-top-color: initial;
  transform-origin: center top;
}

.tippy-box[data-placement^="bottom"] > .tippy-arrow {
  top: 0;
}

.tippy-box[data-placement^="bottom"] > .tippy-arrow:before {
  top: -7px;
  left: 0;
  border-width: 0 8px 8px;
  border-bottom-color: initial;
  transform-origin: center bottom;
}

.tippy-box[data-placement^="left"] > .tippy-arrow {
  right: 0;
}

.tippy-box[data-placement^="left"] > .tippy-arrow:before {
  border-width: 8px 0 8px 8px;
  border-left-color: initial;
  right: -7px;
  transform-origin: center left;
}

.tippy-box[data-placement^="right"] > .tippy-arrow {
  left: 0;
}

.tippy-box[data-placement^="right"] > .tippy-arrow:before {
  left: -7px;
  border-width: 8px 8px 8px 0;
  border-right-color: initial;
  transform-origin: center right;
}

.tippy-box[data-inertia][data-state="visible"] {
  transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
}

.tippy-arrow {
  width: 16px;
  height: 16px;
  color: var(--link-tooltip-background);
}

.tippy-arrow:before {
  content: "";
  position: absolute;
  border-color: transparent;
  border-style: solid;
}

.tippy-content {
  position: relative;
  padding: 10px 15px;
  z-index: 1;
  overflow-wrap: anywhere;
}
