/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3); /* Light gray */
    border-radius: 50%;
    border-top: 4px solid #000000; /* Black */
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
